// Foundation
// ----------------------------------------------------------------------------
html {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: $hex_L15;
}
body {
	text-align: center;
	background-color: $hex_cream;
}

// Common
// ----------------------------------------------------------------------------
table.section {
	border-bottom: 2px solid $hex_orange;
}
td.padding-y {
	padding-top: 80px;
	padding-bottom: 80px;
}
td.padding-x {
	padding-left: 40px;
	padding-right: 40px;
}
div.icon {
	margin-bottom: 60px;
}
div.paragraphs {
	font-size: 15px;
	line-height: 1.6;
}
/*
div.paragraphs br {
	margin-bottom: 32px;
}
*/
// + headings + \\
h1,
h2,
h3,
h6 {
	text-transform: uppercase;
}
h1,
h2 {
	color: $hex_cream;
}
h2,
h3 {
	margin-bottom: 32px;
	font-size: 19px;
}
h2,
h3,
h6 {
	font-weight: 700;
	letter-spacing: 2px;
}
h1 {
	font-family: "Arial Black", "Avenir-Black", "Arial Bold", Gadget, sans-serif;
	font-size: 60px;
	letter-spacing: 4px;
}
h6 {
	font-size: 11px;
	font-style: italic;
	color: $hex_orange;
}
// + button + \\
div.link-wrap {
	margin-top: 48px;
}
a.button {
	display: inline-block;
	padding: 16px 32px;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: $hex_L15;
	border: 2px solid $hex_L15;
	border-radius: 10px;
}
a.button.cream {
	color: $hex_cream;
	border-color: $hex_cream;
}
a.button.orange {
	color: $hex_orange;
	border-color: $hex_orange;
}

// Header
// ----------------------------------------------------------------------------
td.header_wordmark a {
	display: inline-block;
}
td.header_social {
	text-align: right;
}
td.header_social a {
	display: inline-block;
}
td.header_social a.social_twitter {
	margin-right: 10px;
}

// Feature
// ----------------------------------------------------------------------------
#temp_feature {
	background-color: $hex_L15;
	/*@editable*/background-image: url('https://gallery.mailchimp.com/83bb440596cc17fe903cfdb39/images/272a6d2d-5703-48b7-8806-96b919bf741c.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

// Callout
// ----------------------------------------------------------------------------
#temp_callout {
	background-color: #ff5312;
}
#temp_callout div.paragraphs {
	color: $hex_cream;
}
#temp_callout div.paragraphs a {
	color: $hex_L15 !important;
	text-decoration: underline;
}

// Main
// ----------------------------------------------------------------------------
#temp_main {
	border-left: 2px solid $hex_orange;
	border-right: 2px solid $hex_orange;
}
#temp_main div.paragraphs a {
	color: $hex_orange;
}

// Footer
// ----------------------------------------------------------------------------
#temp_footer a {
	color: $hex_orange;
}
td.footer_links {
	padding-bottom: 10px;
}
td.footer_contact,
td.footer_browser {
	padding-bottom: 60px;
}
td.footer_links,
td.footer_legal div {
	color: $hex_orange;
}
td.footer_links,
td.footer_legal div,
td.footer_browser a.browser-link {
	font-size: 13px;
}
td.footer_contact h6.contact_email {
	margin-top: 10px;
	margin-bottom: 10px;
}
td.footer_links,
td.footer_browser a.browser-link {
	font-weight: 700;
}
td.footer_browser a.browser-link {
	display: inline-block;
}
td.footer_legal div a {
	font-weight: 700;
}