// SASS Variables
// ----------------------------------------------------------------------------
$hex_orange: #ff5312;
$hex_cream:  #efefeb;
$hex_L100:   #ffffff;
$hex_L60:    #919191;
$hex_L15:    #262626;

$boxshadow_drop: 0.1rem 0.1rem 0.3rem 0.1rem hsla(0,0%,0%,0.4);

// One stylesheet to rule them all
// ----------------------------------------------------------------------------
@import 'base';
@import 'main';