/ Begin Template: Footer
%table#temp_footer{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "910"}

	%tr
		%td.padding-y{:align => "center", :valign => "middle"}

			%table#temp_footer-child{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}

				%tr
					%td.footer_contact{:align => "center", :valign => "middle"}
						%h6.contact_title Northman
						%h6.contact_email
							%a{:href => "mailto:info@northman.co", :title => "Email Us"} info@northman.co
						%h6.contact_phone
							%a{:href => "tel:+1-844-207-7522", :title => "Email Us"} 1 (844) 207-7522

				%tr
					%td.footer_links{:align => "center", :valign => "middle"}
						%a{:href => "*|UPDATE_PROFILE|*"}
							Update your information
						|
						%a{:href => "*|UNSUB|*"}
							Unsubscribe

				%tr
					%td.footer_legal{:align => "center", :valign => "middle"}
						%div{"mc:edit" => "edit_footer"}
							You are receiving this email because you subscribed at
							%a{:href => "http://northman.co/", :title => "Northman Company", :target => "_blank"}
								northman.co.
							%br
							Your privacy is paramount. Please read our
							%a{:href => "http://northman.co/privacy-policy/", :title => "Privacy Policy", :target => "_blank"}
								privacy policy
							and
							%a{:href => "http://northman.co/terms-of-service/", :title => "Terms of Service", :target => "_blank"}
								terms of service.