/ Begin Template: Main
%table#tpl_main{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}

	%tr

		%td{:align => "center", :valign => "top"}

			%table.section{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}

				%tr

					%td.padding-x.padding-y{:align => "center", :valign => "middle"}

						.icon
							%img{:src => "https://gallery.mailchimp.com/83bb440596cc17fe903cfdb39/images/23cdf586-185b-435c-9626-1eb5fdfc7647.png", :width => "63", :height => "63", :alt => ""}

						%h3{"mc:edit" => "edit_main-title1"} Cupiditate non provident lorem labore.

						:plain
							<div class="paragraphs" mc:edit="edit_main-content1">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt.
								<br>
								<br>
								Ut labore et dolore magnam aliquam quaerat voluptatem. <a href="http://northman.co/" title="Visit Us">Nam libero tempore</a>, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
							</div>

						.link-wrap{"mc:hideable" => true, "mc:edit" => "edit_main-link1"}
							%a.button.orange{:href => "http://northman.co/why-northman/", :title => "Why Northman", :target => "_blank"} Why Northman

			%table.section{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%", "mc:repeatable" => "table_section", "mc:hideable" => true}

				%tr

					%td.padding-x.padding-y{:align => "center", :valign => "middle"}

						%h3{"mc:edit" => "edit_main-title2"} Exceptui sint occaecati blanditiis.

						.paragraphs{"mc:edit" => "edit_main-content2"}
							At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat und lib esteotte bindi.
							%br
							%br
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem forte espe del magiossa.

						.link-wrap{"mc:hideable" => true, "mc:edit" => "edit_main-link2"}
							%a.button.orange{:href => "http://northman.co/quote/", :title => "Get A Quote", :target => "_blank"} Get A Quote