/ Begin Template: Feature
%table#tpl_feature{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%", :height => "320", :background => "feature_rockclimb.jpg", :bgcolor => "#262626"}

	%tr

		%td{:align => "center", :valign => "middle"}

			%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}

				%tr

					%td{:align => "center", :valign => "middle"}

						%h1{"mc:edit" => "edit_feature-title"} Tips On Travelling